<html>
<head><title>Index of {{pathname}}</title></head>
<body>
<h1>Index of {{pathname}}</h1><hr /><pre><a href='../'>../</a>
{{#each entries}}
<a href='{{href}}'>{{name}}</a>{{displayNamePaddingRight}}
{{lastModified}}
{{size}}
{{/each}}
</pre><hr /></body>
</html>